<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="vnext master" value="https://www.myget.org/F/aspnetmaster/api/v3/index.json" />
    <add key="NuGet VNext" value="https://dotnet.myget.org/F/aspnetcore-dev/api/v2" />
    <add key="nuget.digipolis.aspnet5" value="http://getaspnet-o.antwerpen.be/nuget" />
    <add key="digipolisantwerp" value="https://www.myget.org/F/digipolisantwerp/api/v3/index.json" />
  </packageSources>
</configuration>